<div class="employyeeEdittedModal" id="employyeeEdittedModal">
    <div id="closeEmployyeeEdittedModal">
        <div id="CloseCrossButn" onclick='closeEmployyeeEdittedModal()'>
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <div id="WarningContent">
        <span>Employee Edited Successfully!!!</span>
    </div>
    <div id="ModalBTNS">
        <button id="editEmployeeModalOK" onclick="closeEmployyeeEdittedModal()">OK</button>
    </div>
</div>