<div class="employyeeCreatedTrue" id="employyeeCreatedTrue">
    <div id="closeEmployyeeCreatedTrue">
        <div id="CloseCrossButn" onclick='closeEmployyeeCreatedTrue()'>
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <div id="WarningContent">
        <span>Employee Created Successfully!!!</span>
    </div>
    <div id="ModalBTNS">
        <button id="addEmployeeModalOK" onclick="closeEmployyeeCreatedTrue( )">OK</button>
    </div>
</div>