<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        text-align: center;
        margin: 50px;
      }
      #otpInput {
        padding: 10px;
        font-size: 16px;
      }
      #verifyButton {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h2>OTP Verification</h2>
    <p>Enter the OTP sent to your mail:</p>
    <p><%= Email %></p>
    <form action="/register/varifyUserEmail" method="post">
      <input
        type="text"
        name="otpInput"
        id="otpInput"
        placeholder="Enter OTP"
        maxlength="6"
      />
      <p style="color: red"><%= err %></p>
      <button type="submit" name="otpInput" id="verifyButton">
        Verify OTP
      </button>

      <p id="timer" style="color: red">
        Your OTP Expires In: <span id="minutes">5</span> minutes
        <span id="seconds">00</span> seconds
      </p>
    </form>
    
    <script>
      // Countdown timer logic
      var expirationTime = "<%- JSON.stringify(ExpirationTime) %>";
      const timerElementMinutes = document.getElementById("minutes");
      const timerElementSeconds = document.getElementById("seconds");
      const timer = document.getElementById("timer");

      function updateTimer() {
        const currentTime = new Date().getTime();
        const remainingTime = Math.max(0, expirationTime - currentTime);

        const minutes = Math.floor(remainingTime / (60 * 1000));
        const seconds = Math.floor((remainingTime % (60 * 1000)) / 1000);

        timerElementMinutes.textContent =
          minutes < 10 ? `0${minutes}` : minutes;
        timerElementSeconds.textContent =
          seconds < 10 ? `0${seconds}` : seconds;

        if (remainingTime === 0) {
          // Handle expiration, e.g., display a message or redirect to a new page
          timer.innerHTML = "your OTP is expired";
        } else {
          setTimeout(updateTimer, 1000);
        }
      }

      updateTimer();
    </script>
  </body>
</html>
