<div class="SectionHeadingMain">
    <div class="headings">
        <h5>Dashboard / Employees / Employee Details</h5>
        <h2>Employee Details</h2>
    </div>
    <div class="SearchSection">
        <input type="search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" />
        <i class="fa-regular fa-bell"></i>
        <img src="/public/images/Elipse 5.png" alt="">
    </div>
</div>