<div class="SectionHeadingMain">
    <div class="headings">
        <h5>Dashboard / Employees</h5>
        <h2>Employees</h2>
    </div>
    <div class="SearchSection">
        <input id="searchEmployee" type="search" placeholder="&#xF002; Search"
            style="font-family:Arial, FontAwesome" onkeyup="SearchEmployee()"/>
        <i class="fa-regular fa-bell"></i>
        <img src="/public/images/Elipse 5.png" alt="">
    </div>
</div>