<div class="SideBar">
    <div class="PageTitle">
        <h3>Employee </h3>
        <h4>Management</h4>
    </div>
    <hr>
    <div class="NavBar">
        <ul>
            <li>
                <i class="fa-solid fa-house"></i>
                <h4>Dashboard</h4>
            </li>
           <a href="/home" style="text-decoration: none;"> <li>
            <i class="fa-solid fa-chart-simple"></i>
            <h4>Employees</h4>
        </li></a>
            <li>
                <i class="fa-solid fa-user"></i>
                <h4>My Profile</h4>
            </li>
            <form action="/register/logout" method="post"><button>
                <li>
                    <i class="fa-solid fa-lock"></i>
                    <h4>Logout</h4>
                </li></button></form>
        </ul>
    </div>
               <!-- footer -->
          
               <footer>
                <hr>
            
                <div class="BrandName">
                    <h5>Powered by</h5>
                    <img src="/public/images/image 1.png" alt="">
                </div>
            </footer>
                <!--end-- footer -->
            </div>