<div class="successDeleteModal" id="successDeleteModal">
    <div id="successDeleteModalClose">
        <div id="CloseCrossButn" onclick='closeSuccessDeleteModal()'>
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <div id="WarningContent">
        <span>Employee Deleted Successfully!!!</span>
    </div>
    <div id="ModalBTNS">

        <button id="DeleteModalOK" onclick="closeSuccessDeleteModal()">OK</button>
    </div>
</div>