<div class="DataTable">
    <div class="row">
        <div class="col">
            <div class="header">
                <div class="HeadingTable">
                    <h3>Employees List</h3>
                    <select class="select list" id="datasPerPage">
                        <option selected>4</option>
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="16">16</option>
                    </select>
                    <h6 id="TotalNoOfDatas"></h6>
                </div>
                <div class="HeadingButton">
                    <button onclick="addEmployee()">Add Employee</button>
                </div>
            </div>
        </div>
    </div>
    <div class="Table">
        <div class="TableHead">
            <tr>
                <div class="select">
                    <td><select>
                            <option value="1">Sl.No</option>
                        </select></td>
                </div>
                <div class="select">
                    <td><select>
                            <option value="1">Name</option>
                        </select></td>
                </div>
                <div class="select">
                    <td><select>
                            <option value="1">Email</option>
                        </select></td>
                </div>
                <div class="select">
                    <td><select>
                            <option value="1">Phone</option>
                        </select></td>
                </div>
                <div class="select">
                    <td><select>
                            <option value="1">Gender</option>
                        </select></td>
                </div>
                <div class="select">
                    <td><select>
                            <option value="1">DOB</option>
                        </select></td>
                </div>
                <div class="select">
                    <td><select>
                            <option value="1">Country</option>
                        </select></td>
                </div>
            </tr>
        </div>

        <tr>
            <div id="tableBody">


            </div>
    </div>

</div>