<div class="EmployeeProfile mb-5">
    <div class="backgroundImage">
        <img src="/public/images/Background Image.png" alt="">
        <div class="profilePicture" id="viewEmployeeProfilePic">

        </div>
    </div>
    <div class="employeeNameSection">
        <span id="EmployeeName"></span>
        <span id="EmployeeEmail"></span>
    </div>
    <div class="DetailsOfEmployee">
        <div class="row-1">
            <div id="EmployeeGender">
                <span id="GenderTitle" class="Title">Gender</span>
                <span id="GenderDetails" class="Details"></span>
            </div>
            <div id="EmployeeAge">
                <span id="AgeTitle" class="Title">Age</span>
                <span id="AgeDetails" class="Details"></span>
            </div>
            <div id="EmployeeDOB">
                <span id="DOBTitle" class="Title">Date of Birth</span>
                <span id="DOBDetails" class="Details"></span>
            </div>
        </div>
        <div class="row-2">
            <div id="EmployeePhoneNumber">
                <span id="PhoneNumberTitle" class="Title">Mobile Number</span>
                <span id="PhoneNumberDetails" class="Details"></span>
            </div>
            <div id="EmployeeQualifications">
                <span id="QualificationsTitle" class="Title">Qualifications</span>
                <span id="QualificationsDetails" class="Details"></span>
            </div>
        </div>
        <div class="row-3">
            <div id="EmployeeAddress">
                <span id="AddressTitle" class="Title">Address</span>
                <span id="AddressDetails" class="Details"></span>
            </div>
            <div id="EmployeeUsername">
                <span id="UsernameTitle" class="Title">Username</span>
                <span id="UsernameDetails" class="Details"></span>
            </div>
        </div>
        <div class="row-4">
            <button id="DeleteButton">Delete</button>
            <button id="EditButton">Edit Details</button>

        </div>
    </div>

</div>